       <tr id="{{id}}">
          <td data-index="name" contenteditable="true">{{name}}</td>
          <td data-index="age"  contenteditable="true">{{age}}</td>
          <td data-index="task" contenteditable="true">{{task}}</td>
          <td data-index="completed"><input type="checkbox" {{#completed}}checked="checked"{{/completed}} value="{{completed}}" name="completed" /></td>
          <td> <button type="submit" class="btn btn-default update-designer">Update</button></td>
          <td><button type="submit" class="btn btn-default delete-designer">Delete</button></td>
        </tr>
  