<form role="form">
  <div class="form-group">
    <label for="name">Name: </label>
    <input type="text" class="form-control" id="name" placeholder="Enter the designer name">
  </div>
  <div class="form-group">
    <label for="age">Age</label>
    <input type="text" class="form-control" id="age" placeholder="Enter your Age">
  </div>
  <div class="form-group">
    <label for="taskName">Enter the task name:</label>
    <input type="text" class="form-control" id="taskName" placeholder="What is the task to do by the designer">
    <p class="help-block">Here you could add some task that you want to do.</p>
  </div>
  <div class="checkbox">
    <label>
      <input id="completed" type="checkbox"> Completed ?
    </label>
  </div>
  
  
    <button type="submit" id="addDesigner"class="btn btn-default pull-right">Añadir</button>
</form>